{% extends 'bootstrap.html' %}

{% block title %}
  Send email
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>

<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>send message form</legend>
        <p>
            <label for="subject" >subject : </label>
            <input type="text" name="subject" class="form-control" id="subject">

        </p>
         <p>
            <label for="message" >Mesage text : </label>
            <textarea  name="message" class="form-control" id="message" rows="5"></textarea>

        </p>
        <input type="submit" value="Send message" class="form-control btn btn-success">

    </fieldset>


</form>

{% endblock %}