{% extends 'bootstrap.html' %}
{% load static %}

{% block title %}
 Prizes
{% endblock %}
{% block content %}
<p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFOvM_zi9IuUnTF2fbSNm0LIjPlz1UapVx4w&usqp=CAU" alt="Nobel Prize Medal" width="1600" height="400" style="margin-top:100px;"></p>
<h1>1966 Literature Laureate Nelly Sachs</h1>
<p>Nelly Sachs' amethyst stones inspired her writing by giving her a feeling of safety and comfort. © Nobel Media. Photo: Alexander Mahmoud</p>

<h2>About the Prize</h2>
<p>“The said interest shall be divided into five equal parts, which shall be apportioned as follows: /- – -/ one part to the person who shall have produced in the field of literature the most outstanding work in an ideal direction …” (Excerpt from the will of Alfred Nobel)</p>
<p>Alfred Nobel had broad cultural interests. During his early youth, he developed his literary interests which lasted throughout his life. His library consisted of a rich and broad selection of literature in different languages. During the last years of his life, he tried his hand as an author and began writing fiction. Literature was the fourth prize area Nobel mentioned in his will.</p>
<p>The Nobel Prize in Literature is awarded by the Swedish Academy, Stockholm, Sweden.</p>
<p><a href="#">See all literature laureates</a> or <a href="#">learn about the nomination process</a>.</p>

<h2>Quick Facts</h2>
<ul>
<li>Literature prizes: 116</li>
<li>Literature laureates: 120</li>
<li>Awarded women: 17</li>
<li>Youngest laureate: 41</li>
<li>Oldest laureate: 88</li>
</ul>
<p><a href="#">More facts and figures</a></p>

<h2>The Nobel Prize in Literature 2023</h2>
<p>Jon Fosse</p>
<p>The Nobel Prize in Literature 2023 is awarded to the Norwegian author Jon Fosse, “for his innovative plays and prose which give voice to the unsayable.”</p>
<p>His immense oeuvre written in Norwegian Nynorsk and spanning a variety of genres consists of a wealth of plays, novels, poetry collections, essays, children’s books and translations. While he is today one of the most widely performed playwrights in the world, he has also become increasingly recognised for his prose.</p>
<p><a href="#">Related articles</a></p>

<h3>Press release: The Nobel Prize in Literature 2023</h3>
<h3>Biobibliography</h3>
<p>Jon Fosse</p>
<p>Ill. Niklas Elmehed © Nobel Prize Outreach</p>
<div class="row" style="margin:20px">
    {% for p in prize %}
     {% if p.category == "Literatura" %}
      <div class="col-md-4" style="margin-top:100px; margin-bottom:50px" >
        <div class="card mb-4">
          <img class="card-img-top" src="{% static  p.image %}" alt="{{p.name}}" width="400" height="300">
          <div class="card-body">
            <h5 class="card-title">{{ p.name }}</h5>
            <p class="card-text">{{ p.age }}</p>
            <a href="{% url 'prize_info' p.pk %}" class="btn btn-primary">See Profile</a>
            <a href="{% url 'add_prize' %}" class="btn btn-primary">Add</a>
            <a href="{% url 'edit_prize' p.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_prize' p.pk %}" class="btn btn-primary">Delete</a>
          </div>
        </div>
          <div id="line" style="width:470px; height:10px; background-color:blue;"></div>
      </div>
     {% endif %}
    {% endfor %}
  </div>
<h2>One-minute Crash Course</h2>
<p>Nobel Prize in Literature 2023</p>
<p>The works of Jon Fosse</p>
<p>Have you ever heard of writer Jon Fosse? Fosse is one of the most widely performed playwrights of our era, but his novels have also attracted a great deal of international attention.</p>
<p><a href="#">Have you read?</a></p>

<h2>Literature Prize Q&A</h2>
<p>Behind the scenes of the Nobel Prize in Literature</p>
<p>Can I be nominated? What criteria do you use? Is there an age limit?</p>
<p>Ellen Mattson, who helps to decide the Nobel Prize in Literature, answers your questions about the literature prize.</p>
<p>Writer Ellen Mattson Photographer: Rickard L Eriksson</p>

</body>
</html>
{% endblock %}