{% extends 'bootstrap.html' %}
{% load static %}

{% block title %}
 Prizes
{% endblock %}


{% block content %}


  <div class="row" style="margin:20px">
    {% for p in prize %}
      <div class="col-md-4" style="margin-top:100px; margin-bottom:50px" >
        <div class="card mb-4">
          <img class="card-img-top" src="{% static  p.image %}" alt="{{p.name}}" width="400" height="300">
          <div class="card-body">
            <h5 class="card-title">{{ p.name }}</h5>
            <p class="card-text">{{ p.age }}</p>
            <a href="{% url 'prize_info' p.pk %}" class="btn btn-primary">See Profile</a>
             {% if request.user.email_confirmed %}
                    <a href="{% url 'add_prize' %}" class="btn btn-primary">Add</a>
                    <a href="{% url 'edit_prize' p.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_prize' p.pk %}" class="btn btn-primary">Delete</a>
             {% endif %}
          </div>
        </div>
          <div id="line" style="width:470px; height:10px; background-color:blue;"></div>
      </div>

    {% endfor %}
  </div>

{% endblock %}